// BOTONES

.btnPrimario {
    background-color: black;
    color: white;
    font-family: Montserrat;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 0px;
}


// NAVEGADOR

.navbar {
    height: 100px;
}

.nav-logo {
    width: 25%;
    max-width: 150px;
    padding: 20px 10px;
}

.navbar-nav, .mr-auto {
    flex: 1;
    justify-content: end;
}

@media (min-width: 1200px) {
    .nav-link {
        &:hover { 
        color: white;
        }
    }
}

.iconos {
    display: flex;
    flex-direction: row;
}

.navbar-toggler {
    border: 0px;
    &:focus {
        box-shadow: 0 0 0 0;
        border: 0px;
    }
}

// PRODUCTOS

.producto {
    max-width: 20%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    border: solid 1px black;
}

.img-producto {
    max-width: 100%;
}

.nombreProducto {
    font-family: Montserrat;
    padding-top: 15px;
}

.precioProducto {
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 20px;
}

.btnAddToCart {
    background-color: black;
    border: solid 1px black;
    color: white;
    font-family: Montserrat;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    &:hover {
        background-color: white;
        color: black;
        border: solid 1px black;
    }

}

// CARRITO

.img-carrito-fixed {
    width: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.productoEnCarrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.prodImgCarrito {
    width: 80px;
}

.modal-dialog {
    max-width: 80%!important;
}

.cartProdName {
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 20px;
    width: 300px;
    text-align: center;
}

.cartProdPrice {
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 15px;
}

.totalCarrito {
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 15px;
}

.img-carrito-fixed {
    background-color: #0b5ed7;
    padding: 10px;
    width: 60px;
    border-radius: 50px;
    
}

.boton-cerrar-modal {
    border: 1px;
}

// HEADER

.headerProvisorio {
    width: 99%;
    height: 400px;
    border: solid 1px black;
}

// MAIN

.input-group {
    margin-top: 20px;
    margin-bottom: 10px;    
}

.contenedorCarrito {
    height: 40px;
    width: 10%;
    border: solid 1px black;
    position: fixed;
    bottom: 0px;
    right: 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
}

.botonFixedCart {
    background-color: transparent;
    border: none;
}

.encabezado {
    margin-top: 40px;
    h1 {
        text-transform: uppercase;
        text-decoration: underline;
        padding-bottom: 10px;
    }
}

